<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>University of Springfield Web Portal</title>
        <link type="text/css" rel="stylesheet" href="css/profile.css">
        <link href='https://fonts.googleapis.com/css?family=Changa' rel='stylesheet'>
    </head>
    <body>

        <table class="header">
            <tr>
                <td>
                    <div class="navbar">
                        <ul class="leftList">
                            <li><a href="/welcome">Home</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/statistics">Statistics</a></li>
                        </ul>
                    </div>
                </td>
                <td style="white-space: nowrap; width: 0.1%">
                    <div class="dropdown">
                        <!--                    <div th:each="student: ${studs}">-->
                        <!--                        <div th:if="${student.ID == ID}">-->
                        <button class="dropbtn" th:text="${'Hello, '+user_name}"></button>
                        <div class="dropdown-content">
                            <a href="/modules">My Modules</a>
                            <a href="/logout">Log Out</a>
                        </div>
                        <!--                        </div>-->
                        <!--                    </div>-->
                    </div>
                </td>
            </tr>
        </table>

        <div class="page">
            <h1><u>Edit Module</u></h1>
            <p th:text="${errorMessage}"></p>
            <form method="post">
                <table border="1" cellpadding="5">
<!--                    <caption>-->
<!--                        <h2>-->
<!--                            Edit Book-->
<!--                        </h2>-->
<!--                    </caption>-->
<!--                    <input type="hidden" name="ID" value="<c:out value='${module.ID}' />"  />-->


                    <input type="hidden" name="coordinator_ID" th:value="${module.coordinator_ID}"  />
                    <tr>
                        <th>Module Code: </th>
                        <td>
                            <input type="text" name="ID" size="45"
                                th:value="${module.ID}" readonly
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>Title: </th>
                        <td>
                            <input type="text" name="name" size="45"
                                   th:value="${module.name}" readonly
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>Max no. Students: </th>
                        <td>
                            <input type="number" name="max_num_students" size="45"
                                   th:value="${module.max_num_students}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>Status : </th>
                        <td>
<!--                            <input type="text" name="status" size="45"-->
<!--                                   th:value="${module.status}"-->
<!--                            />-->
                            <select id="status_dd" name="status">
                                <option value="available">Available</option>
                                <option value="terminated">Terminated</option>
                            </select>
                        </td>

                        <script th:inline="javascript">
                            /*<![CDATA[*/

                            var element = document.getElementById('status_dd');
                            element.value = /*[[${module.status}]]*/ 'blah';

                            /*]]>*/
                        </script>
                    </tr>
                    <tr>
                        <th>Description : </th>
                        <td>
                            <input type="text" name="description" size="45"
                                   th:value="${module.description}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Save" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
</body>

</html>