<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>University of Springfield Web Portal</title>
        <link type="text/css" rel="stylesheet" href="css/login.css">
        <script src="https://www.google.com/recaptcha/api.js"></script>
    </head>
    <body>
        <form class="login" method="post">
            <h2>Please login</h2>
            <p th:text="${errorMessage}"></p>
            <input type="hidden" name="playerId" value="${ID}"/>
            <input type="text" class="value" name="ID" placeholder="student/staff ID" />
            <input type="password" class="value" name="password" placeholder="password" />
            <br>
            <select class="value" name="user">
                <option value="student">Student</option>
                <option value="staff">Staff</option>
            </select>
            <br/>
            <div class="g-recaptcha" data-sitekey="6LctyPYUAAAAABootUlHCliUmDKMtu-6c8KE9-qv"></div>
            <br/>
            <button type="submit">Login</button>
            <br/><br/>
            <label>
                Don't have an account? <a href="/register">Register here</a>
            </label>
        </form>
    </body>
</html>