<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>University of Springfield Web Portal</title>
    <link type="text/css" rel="stylesheet" href="css/modules.css">
    <link href='https://fonts.googleapis.com/css?family=Changa' rel='stylesheet'>
</head>
<body>

<table class="header">
    <tr>
        <td>
            <div class="navbar">
                <ul class="leftList">
                    <li><a href="/welcome">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/statistics">Statistics</a></li>
                </ul>
            </div>
        </td>
        <td style="white-space: nowrap; width: 0.1%">
            <div class="dropdown">
                <!--                    <div th:each="student: ${studs}">-->
                <!--                        <div th:if="${student.ID == ID}">-->
                <button class="dropbtn" th:text="${'Hello, '+user_name}"></button>
                <div class="dropdown-content">
                    <a href="/modules">My Modules</a>
                    <a href="/logout">Log Out</a>
                </div>
                <!--                        </div>-->
                <!--                    </div>-->
            </div>
        </td>
    </tr>
</table>

    <div class="page">
        <div th:if="${#strings.endsWith(ID, 'STU')}">
            <div th:if="${maxStudents}">
                <p style="color: red">Invalid Input</p>
            </div>
            <div th:if="${feesDue}">
                <p style="color: red">You cannot enroll in modules without fully paying your outstanding fees.</p>
            </div>
            <h1><u>My Modules</u></h1>
            <div th:if="${hasModules}">
                <div th:each="module: ${mod}">
                    <div th:each="moduleReg: ${modRegs}">
                        <div th:if="${moduleReg.module_ID == module.ID and moduleReg.student_ID == ID}">
                            <button type="button" class="collapsible" th:text="${module.ID + ': ' + module.name}" onclick="myFunc()"></button>
                            <div class="content" th:each="staff: ${st}" th:if="${module.coordinator_ID == staff.ID}">
                                <p th:text="${'Coordinator: ' + staff.prefix + ' ' + staff.first_name + ' ' + staff.last_name + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of Students: ' + module.curr_num_students + '/' + module.max_num_students + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status: ' + module.status}"></p>
                                <p th:text="${'Grade: ' + moduleReg.letterGrade + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'}"></p>
                                <br>
                                <div th:each="topic: ${top}">
                                    <div th:each="topic_reg: ${top_reg}">
                                        <div th:if="${module.ID == topic_reg.module_ID}">
                                            <div th:if="${topic.topic_ID == topic_reg.topic_ID}">
                                                <button type="button" class="collapsibleTopic" th:text="${topic.title}"></button>
                                                <div class="content">
                                                    <p th:text="${topic.description}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <form class="enrollForm" name="moduleReg" method="post">
                                    <input name="checkedModule" type="hidden" th:value="${module.ID}" >
                                    <input name="formType" type="hidden" th:value="dropout" >
                                    <input class="dropbtn" type="submit" value="Drop Out">
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:unless="${hasModules}">
                <p>You are not registered to any modules yet.</p>
            </div>

            <h1><u>Other Modules</u></h1>
            <div th:each="module: ${modNotRegs}">
                <div th:if="${module.status == 'available'}">
                    <button type="button" class="collapsible" th:text="${module.ID + ': ' + module.name}" onclick="myFunc()"></button>
                    <div class="content" th:each="staff: ${st}" th:if="${module.coordinator_ID == staff.ID}">
                        <p th:text="${'Coordinator: ' + staff.prefix + ' ' + staff.first_name + ' ' + staff.last_name + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of Students: ' + module.curr_num_students + '/' + module.max_num_students + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status: ' + module.status}"></p>
                        <br>
                        <div th:each="topic: ${top}">
                            <div th:each="topic_reg: ${top_reg}">
                                <div th:if="${module.ID == topic_reg.module_ID}">
                                    <div th:if="${topic.topic_ID == topic_reg.topic_ID}">
                                        <button type="button" class="collapsibleTopic" th:text="${topic.title}"></button>
                                        <div class="content">
                                            <p th:text="${topic.description}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <form class="enrollForm"method="post">
                            <input name="formType" type="hidden" th:value="enroll" >
                            <input name="checkedModule" type="hidden" th:value="${module.ID}" >
                            <input class="dropbtn" type="submit" value="Enroll">
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>


        <div th:if="${#strings.endsWith(ID, 'STA')}">
            <h1><u>My Modules</u></h1>
            <div th:if="${hasModules}">
                <div th:each="module: ${mod}">
<!--                    <div th:each="moduleReg: ${modRegs}">-->
                        <div th:if="${module.coordinator_ID == ID}">
                            <button type="button" class="collapsible" th:text="${module.ID + ': ' + module.name}" onclick="myFunc()"></button>
                            <div class="content" th:each="staff: ${st}" th:if="${module.coordinator_ID == staff.ID}">
                                <p th:text="${'Coordinator: ' + staff.prefix + ' ' + staff.first_name + ' ' + staff.last_name +
                                '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Max Number of Students: ' +
                                module.max_num_students + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status: '
                                + module.status}"></p>
<!--                                <p th:text="${'Grade: ' + moduleReg.letterGrade + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'}"></p>-->
                                <br>
                                <div th:each="topic: ${top}">
                                    <div th:each="topic_reg: ${top_reg}">
                                        <div th:if="${module.ID == topic_reg.module_ID}">
                                            <div th:if="${topic.topic_ID == topic_reg.topic_ID}">
                                                <button type="button" class="collapsibleTopic" th:text="${topic.title}"></button>
                                                <div class="content">
                                                    <p th:text="${topic.description}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <form style="float: left; padding-right: 10px" class="enrollForm" name="moduleEdit" method="post">
                                        <input name="checkedModule" type="hidden" th:value="${module.ID}" >
                                        <input name="formType" type="hidden" th:value="edit" >
                                        <input class="dropbtn" type="submit" value="Edit">
                                    </form>
                                    <form style="float: left" class="enrollForm" name="assignGrades" method="post">
                                        <input name="checkedModule" type="hidden" th:value="${module.ID}" >
                                        <input name="formType" type="hidden" th:value="grades" >
                                        <input class="dropbtn" type="submit" value="Grades">
                                    </form>
                                </div>
                            </div>
                        </div>
<!--                    </div>-->
                </div>
            </div>
            <div th:unless="${hasModules}">
                <p>You are not registered to any modules yet.</p>
            </div>
            <br>
            <form class="enrollForm" name="moduleEdit" method="post">
                <input name="formType" type="hidden" th:value="edit" >
                <input name="checkedModule" type="hidden" value="new_module" >
                <input class="dropbtn" type="submit" value="New Module">
            </form>
        </div>
    </div>
    </body>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                for(j = 0; j < coll.length; j++) {
                    if(coll[j].classList.contains("active")) {
                        coll[j].classList.remove("active");
                        var con = coll[j].nextElementSibling;
                        con.style.display = "none";
                    }
                }

                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        var topics = document.getElementsByClassName("collapsibleTopic");
        for (i = 0; i < topics.length; i++) {
            topics[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

    <script>
        function myFunc() {
            var x = document.getElementsByClassName("enrollForm");
            if(x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</html>