<html>
    <head>
        <title>First Web Application</title>
        <link type="text/css" rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <form class="login" method="post">
            <h2>Enter registration details below</h2>
            <br/>
            <input type="text" class="value" name="new_ID" placeholder="student/staff ID" />
            <input type="password" class="value" name="new_password" placeholder="password" />
            <input type="text" class="value" name="first_name" placeholder="first name" />
            <input type="text" class="value" name="last_name" placeholder="last name" />
            <input type="email" class="value" name="email" placeholder="email" />
            <input type="text" class="value" name="address" placeholder="address" />
            <input type="number" class="value" name="phone_number" placeholder="phone_number" />
<!--            <input type="text" class="value" name="gender" placeholder="gender" />-->
            <br/>
            <select class="value" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            <br/>
            <button type="submit">Register</button>
        </form>
    </body>
</html>