<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>University of Springfield Web Portal</title>
        <link type="text/css" rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <form class="login" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <h2>Enter registration details below</h2>
            <p th:text="${errorMessage}"></p>
            <input type="text" class="value" name="new_ID" placeholder="student/staff ID" />
            <input type="password" class="value" name="new_password" placeholder="password" />
            <input type="text" class="value" name="first_name" placeholder="first name" />
            <input type="text" class="value" name="last_name" placeholder="last name" />
            <input type="email" class="value" name="email" placeholder="email" />
            <input type="text" class="value" name="address" placeholder="address" />
            <input type="number" class="value" name="phone_number" placeholder="phone number" />
            <input type="date" class="value" name="date_of_birth" value="1998-12-21" />
            <br/>
            <select class="value" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            <br/>
            <select class="value" name="stage">
                <option value="Stage 1">Stage 1</option>
                <option value="Stage 2">Stage 2</option>
                <option value="Stage 3">Stage 3</option>
                <option value="Stage 4">Stage 4</option>
                <option value="Masters">Masters</option>
                <option value="PHD">PHD</option>
            </select>
            <br/>
            <button type="submit">Register</button>
        </form>
    </body>
</html>