<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>University of Springfield Web Portal</title>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <link type="text/css" rel="stylesheet" href="css/statistics.css">
    </head>
    <body>
        <table class="header">
            <tr>
                <td>
                    <div class="navbar">
                        <ul class="leftList">
                            <li><a href="/welcome">Home</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a class="active" href="/statistics">Statistics</a></li>
                        </ul>
                    </div>
                </td>
                <td style="white-space: nowrap; width: 0.1%">
                    <div class="dropdown">
<!--                        <div th:each="student: ${studs}">-->
<!--                            <div th:if="${student.ID == ID}">-->
                                <button class="dropbtn" th:text="${'Hello, '+user_name}"></button>
                                <div class="dropdown-content">
                                    <a href="/modules">My Modules</a>
                                    <a href="/logout">Log Out</a>
                                </div>
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </td>
            </tr>
        </table>

        <div class="page">
<!--            <h2>Statistics</h2>-->

            <div id="myDiv" class="split left"></div>
            <div id="myDiv1" class="split right"></div>
            <div id="myDiv2" class="split left"></div>
            <div id="myDiv3" class="split right"></div>

            <div id="displayArea"></div>

            <script th:inline="javascript">
                /*<![CDATA[*/

                //plot 1
                var numStudents = /*[[${num_students}]]*/ 0;
                var numStaff = /*[[${num_staff}]]*/ 0;
                var data1 = [
                    {
                        x: ['Students', 'Staff'],
                        y: [numStudents, numStaff],
                        type: 'bar',
                        orientation: 'v',
                        marker:{
                            color: ['rgba(31, 119, 180,1)', 'rgb(255, 127, 14, 1)']
                        }
                    }
                ];
                var layout1 = {
                    title: 'Registered Students vs Staff Counts',
                    titlefont:{
                        family: 'Raleway, sans-serif',
                        size: 18
                    },
                    font:{
                        size: 12
                    },
                    showlegend: false,
                    xaxis: {
                        title: 'Users',
                        tickangle: 0
                    },
                    yaxis: {
                        title: 'Count'
                    }
                };
                Plotly.newPlot('myDiv', data1, layout1, {displayModeBar: false});

                //plot 2
                var student_stage_categories = /*[[${student_stage_categories}]]*/ 0;
                var student_stage_counts = /*[[${student_stage_counts}]]*/ 0;
                var stageData = [
                    {
                        x: student_stage_categories,
                        y: student_stage_counts,
                        type: 'bar',
                        orientation: 'v'
                    }
                ];
                var stageLayout = {
                    title: 'Student Stages Balance',
                    titlefont:{
                        family: 'Raleway, sans-serif',
                        size: 18
                    },
                    font:{
                        size: 12
                    },
                    showlegend: false,
                    xaxis: {
                        title: 'Stages',
                        tickangle: 0
                    },
                    yaxis: {
                        title: 'Count'
                    }
                };
                Plotly.newPlot('myDiv1', stageData, stageLayout, {displayModeBar: false});

                //plot 3
                var gender_students_categories = /*[[${student_gender_categories}]]*/ [];
                var gender_students_counts = /*[[${student_gender_counts}]]*/ [];
                var gender_staff_categories = /*[[${staff_gender_categories}]]*/ [];
                var gender_staff_counts = /*[[${staff_gender_counts}]]*/ [];

                var gendersTrace1 = {
                    x: gender_students_categories,
                    y: gender_students_counts,
                    name: 'Students',
                    type: 'bar'
                };
                var gendersTrace2 = {
                    x: gender_staff_categories,
                    y: gender_staff_counts,
                    name: 'Staff',
                    type: 'bar'
                };
                var gendersData = [gendersTrace1, gendersTrace2];
                var gendersLayout = {
                    title: 'Gender Balance',
                    titlefont:{
                        family: 'Raleway, sans-serif',
                        size: 18
                    },
                    font:{
                        size: 12
                    },
                    showlegend: false,
                    xaxis: {
                        title: 'Genders',
                        tickangle: 0
                    },
                    yaxis: {
                        title: 'Count'
                    },
                    barmode: 'stack'
                };
                Plotly.newPlot('myDiv2', gendersData, gendersLayout, {displayModeBar: false});

                //plot 4
                var age_students_categories = /*[[${student_age_categories}]]*/ [];
                var age_students_counts = /*[[${student_age_counts}]]*/ [];
                var age_staff_categories = /*[[${staff_age_categories}]]*/ [];
                var age_staff_counts = /*[[${staff_age_counts}]]*/ [];

                var ageTrace1 = {
                    x: age_students_categories,
                    y: age_students_counts,
                    name: 'Students',
                    type: 'bar'
                };
                var ageTrace2 = {
                    x: age_staff_categories,
                    y: age_staff_counts,
                    name: 'Staff',
                    type: 'bar'
                };
                var ageData = [ageTrace1, ageTrace2];
                var ageLayout = {
                    title: 'Age Range',
                    titlefont:{
                        family: 'Raleway, sans-serif',
                        size: 18
                    },
                    font:{
                        size: 12
                    },
                    showlegend: false,
                    xaxis: {
                        title: 'Ages',
                        tickangle: 0
                    },
                    yaxis: {
                        title: 'Count'
                    },
                    barmode: 'stack'
                };
                Plotly.newPlot('myDiv3', ageData, ageLayout, {displayModeBar: false});

                /*]]>*/
            </script>
        </div>

        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }


        </script>
    </body>
</html>